<h1>Editing apartement</h1>

<%= render "form", apartement: @apartement %>

<br>

<div>
  <%= link_to "Show this apartement", @apartement %> |
  <%= link_to "Back to apartements", apartements_path %>
</div>
